# OSX files
.DS_Store

# Java class files
*.class

# Eclipse project files
.project
.classpath
.settings/

# Maven project files
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IDEA project files
.idea/
*.iws
*.iml
*.ipr

# Web Application Deployment
*.war
*.ear
*.jar

# VS Code
.vscode/
